*.pyc
/.idea
/.cache
/.pytest_cache
/.mypy_cache
.DS_Store
__pycache__
__cache__
/lib/*
/as_common.egg-info
/pip-wheel-metadata
dist/
**debug.log
/venv
.venv
*.html
/allure-result
/allure-results
.env